<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Kate's cool app</title>
</head>
<br>

<h1>Welcome to my app :) </h1>

<h2>Ask me anything or visit README file</h2>

<h3 align="center" style="color:blueviolet">Chapter 1: </h3>

<img src="howDeveloped.jpg" alt="my development :)">

<ul>
    <li>MVC</li>
    <li>ORM</li>
    <li>API</li>
</ul>

<a href="https://www.quora.com/katyalisitsa">Visit my Quora and follow me</a>

<table>
    <tr>
        <td>Loop</td>
        <td>Collection</td>
        <td>Stream</td>
    </tr>

    <tr>
        <td>IoC</td>
        <td>DI</td>
        <td>Value</td>
    </tr>


</table>

<!--Forms-->
<label>User Name: </label>
<input type="text" name="username"><br>
<label>Password: </label>
<input type="password"><br>
<label>Enter your comments:</label>
<textarea name="comments"></textarea></br>

<label>Please select your fav subject:</label>
<input type="radio" name="Spring" value="IoC" checked="checked">IoC
<input type="radio" name="Spring" value="DI">DI
<input type="radio" name="Spring" value="MVC">MVC

<br>
<br>

<label>Please select your company</label><br>
<input type="checkbox" name="company" value="BoA">BoA
<input type="checkbox" name="company" value="Citi bank">Citi bank
<input type="checkbox" name="company" value="Chase">Chase

<br>
<br>

<label>Select your car:</label>
<select name="cars">
    <option value="Acura">Acura</option>
    <option value="Audi">Audi</option>
    <option value="Mercedes">Mercedes</option>

</select>

<form action="" method="post">
    First name:<input type="text" name="first_name"/>
    <br>
    Last name:<input type="text" name="last_name"/>


</form>

<div>
    <ul>
        <li>hello</li>
        <li>one</li>
        <li>two</li>
    </ul>

</div>


</body>
</html>